<div class="container">
    <div class="row-mb-3" style="height: 200px;"></div>
    <div class="row-mb-3">
        <div class="col-md-4"></div>
        <div class="col">
            <span class="text-center text-light" style="font-size: 40px;">
                Somos uma empresa que a anos possibilita que diversas pessoas vivenciem o prazer 
                que é viajar, com pacotes dos mais diversos valores, pessoas de diferentes classe sociais
                podem sentir como é conhecer o mundo, venha com a gente e explore a vastidão do mundo onde vivemos
            </span>
        </div>
        <div class="col-md-4"></div>
    </div>
    <div class="row-mb-3" style="height: 200px;"></div>
</div>
